body {
}

.all-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.box-1 {
  width: 100px;
  height: 100px;
  background-color: red;
  transform: rotate(45deg);
  /* position: fixed; */
}
.box-2 {
  width: 100px;
  height: 100px;
  background-color: red;
  transform: rotate(-50deg);
  border-radius: 50%;
  /* position: fixed; */
  transform: translate(-200px, 50px);
}
.box-3 {
  width: 100px;
  height: 100px;
  background-color: red;
  transform: rotate(50deg);
  border-radius: 50%;
  /* position: fixed; */
  transform: translate(-100px);
}
