* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
}
.shadow {
}

.container {
  width: 500px;
  height: 400px;
  background: #e0e9fe;
  margin: 100px auto;
  position: relative;
  border-radius: 20px;
}

h2 {
  /* margin-bottom: 20px  ; */
}

.container > .products {
  position: absolute;
  width: 520px;
  height: 450px;
  background-color: aqua;
  top: 50px;
  left: 75px;
  border-radius: 20px;
  box-shadow: 0px 24px 25px 0px rgba(65, 0, 244, 0.1);
  padding: 75px;
}
.products > p {
  padding-bottom: 10px;
}

.text {
  width: 85%;
}

.status {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.status > .statu {
  border: 1px solid gray;
  width: 80px;
  text-align: center;
  padding: 5px;
}
.statu > p {
}

.statu:hover {
  box-shadow: inset;
  background: 0px 4px 4px 0px rgba(81, 0, 255, 0.25),
    0px 4px 17px 0px rgba(255, 40, 40, 0.25);
}

textarea {
  width: 370px;
  height: 62px;
  /* padding-bottom: 60px; */
}

.checkbox {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 10px;
  margin-top: 10px;
}
.checkbox span {
  color: #d22e69;
}
input {
  padding: 5px;
}

.buttons {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-top: 20px;
  /* margin-bottom: 10px; */
}

.submit {
  padding: 10px 15px;
  background: linear-gradient(104deg, #ff71a4 0%, #ff71a4 100%);
  cursor: pointer;
}
.cancel {
  cursor: pointer;
  padding: 10px 15px;
  background-color: #ffffff;
}
