* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 100px;
  height: 100px;
  /* grid-gap: 10px; */
}

.item {
  border: 1px dashed rgb(43, 0, 255);
  background-color: rgb(242, 255, 0);
}

.item-1 {
  grid-column: 1 / 4;
  grid-row: 1/4;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.item--1 {
  grid-row: 1/3;
}
